<h2 class ='title2'><%= t('.title') %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>


 
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %> 

    <table class="editTable">
      <tr>
        <td class ="tablefield"><%= f.label :email %></td>
        <td><%= f.email_field :email, :autofocus => true %></td>
      </tr>
      <tr>
        <td class ="tablefield"><%= f.label :lastname %></td>
        <td><%= f.text_field :lastname %></td>
      </tr>
      <tr>
        <td class ="tablefield"><%= f.label :name %></td>
        <td><%= f.text_field :email, :autofocus => true %></td>
      </tr>
      <tr>
        <td class ="tablefield"><%= f.label :address %></td>
        <td><%= f.text_area :address,:cols => 30, :rows => 6 %></td>
      </tr>
      <tr>
        <td class ="tablefield"><%= f.label :password %> <br><i><%= t('.text1') %></i><br /></td>
        <td><%= f.password_field :password, :autocomplete => "off" %></td>
      </tr>
      <tr>
        <td class ="tablefield"><%= f.label :password_confirmation %></td>
        <td><%= f.password_field :password_confirmation %></td>
      </tr>
      <tr>
        <td class ="tablefield"><%= f.label :current_password %><br> <i> <%= t('.text2') %></i></td>
        <td><%= f.password_field :current_password %></td>
      </tr>
      <tr>
        <td class ="tablefield"></td>
        <td><%= f.submit "Update",:class =>"buttonUpdate" %></td>
      </tr>
  
  </table>
<% end %>

<%= button_to t('.erase_account', :default => "Erase my account"), registration_path(resource_name), :data => { :confirm => "I understand what I'm doing!" }, :method => :delete,:class =>"cancelButton" %>



