<p id="notice"><%= notice %></p>
<div class = "show">	
<h1>Here's information concerning information

<p>
  <b>Username:</b> <br> <br> <spam class = "color">
  <%= @user.username %>
</p>
<p>
	<b>Email:</b> <br> <br> <spam class = "color">
	<%= @user.email %>
</p>
<p>
	<b>Company Name:</b> <br> <br> <spam class = "color">
	<%= @user.companyname %>
</p>

<p>
	<b>Telephone:</b> <br> <br> <spam class = "color">
	<%= @user.telephone %>
</p>
<p>
	<b>Fax:</b> <br> <br> <spam class = "color">
	<%= @user.fax %>
</p>
<p>
	<b>Country:</b> <br> <br> <spam class = "color">
	<%= @user.country %>
</p>
<p>
	<b>City:</b> <br> <br> <spam class = "color">
	<%= @user.city %>
</p>
<p>
	<b>State/Province:</b> <br> <br> <spam class = "color">
	<%= @user.stateprovince %>
</p>
<p>
	<b>Zip Code:</b> <br> <br> <spam class = "color">
	<%= @user.zipcode %>
</p>

<p>
	<b>Address:</b> <br> <br> <spam class = "color">
	<%= @user.address %>
</p>
</div>