<h1>Listing orders</h1>

<table class="products" width="100%" style="table-layout: fixed; ">
    <col width="100px">
    <col width="100px">
    <col width="100px">
    <col width="100px">
    <col width="100px">
    <col width="100px">
    <col width="100px">
    <col width="100px">
  <tr>
    <th>Username</th>
    <th>Address</th>
    <th>Email</th>
    <th>Userid</th>
    <th>Status</th>
    <th>Paytype</th>
    <th>Created at</th>
    <th>Updated at</th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= order.username %></td>
    <td><%= order.address %></td>
    <td><%= order.email %></td>
    <td><%= order.userid %></td>
    <td><%= order.status %></td>
    <td><%= order.paytype %></td>
    <td><%= order.created_at %></td>
    <td><%= order.updated_at %></td>
    <td><%= link_to 'Show', order %></td>
    <td><%= link_to 'Edit', edit_order_path(order) %></td>
    <td><%= link_to 'Destroy', order, method: :delete %></td>
  </tr>
<% end %>
</table>

