<p id="notice"><%= notice %></p>
<div class = "show">
<h1>Order Information</h1>

<p>
  <b>Email:</b>  <br> <br> <spam class = "color">
  <%= @order.email %>
</p>
<p>
  <b>Username:</b>  <br> <br> <spam class = "color">
  <%= @order.username %>
</p>

<p>
  <b>Shipping Address:</b> <br> <br> <spam class = "color">
  <%= @order.address %>
</p>

<p>
  <b>Telephone1:</b> <br> <br> <spam class = "color">
  <%= @order.email %>
</p>
<p>
  <b>Billing address:</b> <br> <br> <spam class = "color">
  <%= @order.address2 %>
</p>
<p>
  <b>Telephone2:</b> <br> <br> <spam class = "color">
  <%= @order.telephone2 %>
</p>

<p>
  <b>Order Status:</b> <br> <br> <spam class = "color" sytle="color:#e55656">
  <%= @order.status %>
</p>
<p>
  <b>Shipping Company:</b> <br> <br> <spam class = "color">
  <%= @order.shipping %>
</p>
<p>
  <b>Payment type:</b> <br> <br> <spam class = "color">
  <%= @order.paytype %>
</p>

</div>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
