<style>
.title{font-size: 15px;
 	font-family: ‘Arial Black’, Gadget, sans-serif;
  	color: white;
  	background:#0a2544;
  	/*height:30px;*/
  /*	line-height:130%;*/
	/*margin-top: 25px;}*/
	}
/*h3 {font-size: 15px;
 	font-family: ‘Arial Black’, Gadget, sans-serif;
  	color: white;
  	background:#0a2544;
  	height:20px;
  	line-height:130%;
	margin-top: 15px;}*/
div.labels{
	text-align: center;
	font-size: 12px;
	font-family: ‘Arial Black’, Gadget, sans-serif;
}
input[type=submit] {
    border: 0;
    margin-top: 5px;
	  color:white;
    background:#333333;
    height:25px;
}
 input[type=submit]:hover {
    margin-top: 5px;
    background:#e59400;
    height:25px;
    }
  input[type=email] {
    margin-left:35px; 
    width:100px;
    display: inline;
  }
  input[type=password]{
    margin-left:5px; 
    width:100px;
    display: inline;
  }
a{
	text-decoration: none;
}
a:hover{
	background: #708090;
}
</style>
<!-- <h5 class = "title">Sign in</h2> -->
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div>
  <%= f.label :email %>
  <%= f.email_field :email, :autofocus => true %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <% if devise_mapping.rememberable? -%>
  <%= f.check_box :remember_me %> <%= f.label :remember_me %>
  <% end -%> 
</div>
<div><%= f.submit "Sign in" %></div>
<% end %>

