<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table class="fillTable">
      <tr>
        <td class ="fieldForm"><%= f.label :name, t('.name') %></td>
        <td class ="fillInput"> <%= f.text_field :name %></td>
      </tr>
      <tr>
        <td class ="fieldForm"><%= f.label :code, t('.code') %></td>
        <td class ="fillInput"><%= f.text_field :code %></td>
      </tr>
       <tr>
        <td class ="fieldForm"><%= f.label :marc, t('.marc') %></td>
        <td class ="fillInput"><%= f.text_field :marc %></td>
      </tr>
       <tr>
        <td class ="fieldForm"><%= f.label :quantity, t('.quantity') %></td>
        <td class ="fillInput"><%= f.number_field :quantity %></td>
      </tr>
       <tr>
        <td class ="fieldForm"><%= f.label :price, t('.price') %></td>
        <td class ="fillInput"><%= f.text_field :price %></td>
      </tr>
      <tr>
        <td class ="fieldForm"><%= f.label :imageurl, t('.imgurl') %></td>
        <td class ="fillInput"><%= f.text_field :imageurl %></td>
      </tr>
      <tr>
        <td class ="fieldForm"><%= f.label :model, t('.model') %></td>
        <td class ="fillInput"><%= f.text_field :model %></td>
      </tr>
      <tr>
        <td class ="fieldForm"><%= f.label :misce, t('.misce') %></td>
        <td class ="fillInput"><%= f.select :flagmis, Product::MISCELANEUS, prompt: t('.promtmisce') %></td>
      </tr>
      <tr>
        <td class ="fieldForm"><%= f.label :addedimageurl, t('.imgurladd') %></td>
        <td class ="fillInput"><%= f.text_field :addedimageurl %></td>
      </tr>
      <tr>
        <td class ="fieldForm"><%= f.label :prom, t('.prom') %></td>
        <td class ="fillInput"><%= f.select :flagprom, Product::PROMOTION, prompt: t('.promtprom') %></td>
      </tr>
</table>
  <div class="actions">
    <%= f.submit t('.submit') %>
  </div>
<% end %>
