<%= javascript_include_tag "zoomsl-3.0.min.js" %>
<script>

	jQuery(function(){
    	$(".zoomsl").imagezoomsl({
        	zoomrange: [4,4],
			magnifiersize: [300,300],
			magnifiereffectanimate: "fadeIn"
    	});
	});

</script>
<% if notice || alert %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<% end %>
<h1><%= t('.title') %></h1>


<!--%= text_field_tag :search, params[:product], :class => "searchBar" %-->  
	<!--form>
		<input id="product" type="string" name="product" value="" style = "width:200px;">	
<%= link_to "Send Order by email", :controller => "products", :action => "send_promotion_mail",:user => current_user,:id => "here commes all can we need to sendEmail",:product => "ByDefault" %>

	 </form-->

	<%= form_tag :controller => "products", :action => "send_promotion_mail", :method => 'get' do %>
		<%= text_field_tag :product, params[:product], :class => "searchBar" %>  
	    <%= submit_tag "Send Order by email", :product => "ByDefault" %>  
	 <% end %>

<div class="catalog">
    <% @products.each do |product| %>
    <div class="names" style="width:175px;float:left;display:inline">
    <div style ="float:left;"><%= product.name.split("MOD")[0] %></div>
    	<% if product.attachedimg.url.include?("missing.png") %>
    <img class="zoomsl" src="<%= image_path(product.imageurl) %>" alt=""/>
    	<% else %>
   	<%= image_tag product.attachedimg.url(:medium),:class => 'zoomsl' %>
   		<% end %>
    <div class="bottom" style ="float:left;font-style:italic;font-weight: bold;"><%= product.code %></div>
    </div>
<% end %>

</div>

