<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Code:</b>
  <%= @product.code %>
</p>

<p>
  <b>Marc:</b>
  <%= @product.marc %>
</p>

<p>
  <b>Quantity:</b>
  <%= @product.quantity %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>

<p>
  <b>Imageurl:</b>
  <%= @product.imageurl %>
</p>

<p>
  <b>Model:</b>
  <%= @product.model %>
</p>

<p>
  <b>Attached Img:</b>
  <%= @product.attachedimg %>
</p>

<p>
  <b>Promo flag:</b>
  <%= @product.flagprom %>
</p>

<p>
  <b>Misceláneos flag:</b>
  <%= @product.flagmis %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
