<% if notice %>
<p id="notice"><i class="fa fa-check" style="color:#147939;"></i> <%= notice %></p>
<% elsif alert %>
<p id="alert"><%= alert %></p>
<% end %>
<div class = "divImg">
	<h1 class = "title2"> <i class="fa fa-suitcase"></i> &nbsp<%= t('.title') %></h1>
	<h2 class = "title3"><%= t('.subtitle') %></h2>
	
	<div class = "content">
		<div class = "content1">
			<p class = "icons">	<i class="fa fa-globe" id="globe"></i>	</p>
			<p class = "text"> <%= t('.text1') %>  
		</div>

		<div class = "content1">	
			<p class = "icons"><i class="fa fa-check-square" id="check"></i></i> </p>
			<p class = "text"><%= t('.text2') %>  
			</p>
		</div>

		<div class = "content2">	
			<p class = "icons"><i class="fa fa-thumb-tack" id ="thumb"></i></i> </p>
			<p class = "text"> <%= t('.text3') %> 
			</p>
		</div>

	</div>
	
	<div class = "container">
		<img class = 'photo' src = "<%= image_path("logo/comp_2.png") %>" alt = "">
		<img class = 'photo' src = "<%= image_path("logo/comp_3.png") %>" alt = "">
		<img class = 'photo' src = "<%= image_path("logo/comp_2.png") %>" alt = "">
		<img class = 'photo' src = "<%= image_path("logo/compo_1.png") %>" alt = "">
	</div>
</div>
