<script>
	function cambiarcantidad(objeto) {
		var product_id = $(objeto).attr('id').split("agregaralcarro")[1];
		var cantidad = $("#cantidad" + product_id).val();
		var accion = $(objeto).parent().parent().attr('action');
		var accion_nueva = accion.split("quantity=")[0] + "quantity=" + cantidad;
		$(objeto).parent().parent().attr('action',accion_nueva);
	}
</script>
<h1><%= t('.title') %> <%= @marca %></h1>

<%= form_tag store_index_path, :method => 'get', :id => "productos_search" do %>
	    <h3 class="searhTitle"><i class="fa fa-search"></i> &nbsp <%= t('.search') %>
    	<%= text_field_tag :search, params[:search], :class => "searchBar" %>  
    	<%= submit_tag t('.searchsubmit'), :name => nil, :class => "searchBotton" %>  
	    <% end %> 
	    </h3>


 <% @detailProduct.each do |product| %>
	<h3><%= product.names %></h3>
<% end %>