<style>

</style>

<nav>
	<ul class="dropable">
	<li class="drop"><%= link_to t('.HOME'), store_home_path, :class => "topmenu" %></li>
	<li class="drop"><%= link_to t('.STORE'), store_index_path, :class =>  "topmenu" %></li>
	<li class="drop"><%= link_to t('.CONTACT'), store_contact_path, :class =>  "topmenu" %></li>
	<% if user_signed_in? and current_user.common == true %>
	<li class="drop"><%= link_to 'ADMIN', store_home_path, :class =>  "topmenu" %>
		<div class="dropdownContain">
				<div class="dropOut">
					<div class="triangle"></div>
					<ul>
				  		<li>
						<%= link_to "PRODUCTS", new_product_path ,:class => "secondmenu" %>
						<%= link_to "USERS", users_path ,:class => "secondmenu" %>
						<%= link_to "ORDERS", orders_path ,:class => "secondmenu" %>
						<%= link_to "PROMOTION", products_promotion_path ,:class => "secondmenu" %>
				  		</li>
					</ul>
				</div>
			</div>
	</li>

	<% end %>
			<% @marcas.each do |producto| %>
		<li class="drop">
			<%= link_to producto.marc.upcase, store_productslist_path(:marca => producto.marc,locale: I18n.locale), :class => "topmenu" %>
			<div class="dropdownContain">
				<div class="dropOut">
					<div class="triangle"></div>
					<ul>
					<% if "#{producto.marc}" == 'Copeland' %>
			  		<% @Busqueda = @productoCop %>
			  		<% elsif "#{producto.marc}" == 'Carrier' %>
			  		<% @Busqueda = @productoCarr %>
			  		<% elsif "#{producto.marc}" == 'Bitzer' %>
			  		<% @Busqueda = @productoBit %>
			  		<% elsif "#{producto.marc}" == 'Trane' %>
			  		<% @Busqueda = @productoTra %>
			  		<% elsif "#{producto.marc}" == 'York' %>
			  		<% @Busqueda = @productoYork %>
			  		<% end %>
			  		<% @Busqueda.each do |producto1| %>
			  		<li>
			  		<% @name = "#{producto1.names.downcase.capitalize}" %>	
			  		<% @marca = "#{producto.marc}" %>	
					<%= link_to @name, store_products_path(:marca => @marca, :name => @name ) ,:class => "secondmenu" %>
			  			</li>
	  				<% end %>
					</ul>
				</div>
			</div>
		</li>
		<% end %>
		
		<!-- <li class="drop">
				<a href="#" class="link">You</a>
				<div class="dropdownContain">
					<div class="dropOut">
						<div class="triangle"></div>
						<ul>
							<li>Plan</li>
							<li>Account Settings</li>
							<li>Switch Account</li>
							<li>Sign Out</li>
						</ul>
					</div>
				</div>
			
		</li> -->
		</ul>
</nav>