<!DOCTYPE html>
<html>
<head>
  <title>Americanparts</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>" id = "body">
<div id="contenido">
	<!--here goes logging and language info-->
		<div id="loginImg">
			<%= image_tag("compressors/Bitzer2.jpg",class: 'comp1')%>
			<%= image_tag("compressors/Carrier.jpg",class: 'comp1')%>
			<%= image_tag("compressors/Copeland.jpg",class: 'comp1')%>
		</div>
		<div id="loginLangua">
			<p>
			<%= link_to_unless I18n.locale == :en, "English", locale: :en %>
			|
			<%= link_to_unless I18n.locale == :es, "Español", locale: :es %>
			</p>
			<% if user_signed_in? %>
			  <%= t('.text1') %> <strong><%= current_user.email %></strong>||||
			  <%= link_to t('.linkLoggin'), destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
			<% else %>
			<%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %>
			<% end %>
		</div>
		<!--here goes all login partial template-->
		<div id="loginLogin">
			<%= render 'devise/sessions/partialnew' %>
		</div>
	<!--here sup menu to add deployed menu-->
	<div id="navegacion">
		<%= render 'layouts/menu' %>
	</div>
	<!-- heres goes all main body of the web page -->
	<div id="side_l">
		xleft
	</div>
	<!--Aquí la parte cuerpo de la pag-->
	<div id="main">	
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>
		<%= yield %>
	</div>
	<div id="side_r">
		Here shopping cart Johanna what do u say about what to put it here?!
	</div>
</div>
</body>
</html>
