<!DOCTYPE html>
<html>
<head>
  <title>Americanparts</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<p>
<%= link_to_unless I18n.locale == :en, "English", locale: :en %>
|
<%= link_to_unless I18n.locale == :es, "Español", locale: :es %>
</p>
<li><%= link_to t('.product'), products_path %></li>
<li><%= link_to t('.store'), store_index_path %></li>
<p class="navbar-text pull-right">
<% if user_signed_in? %>
  <%= t('.text1') %> <strong><%= current_user.email %></strong>.
  <%= link_to t('.linkLoggin'), destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
<% end %>
<%= render 'devise/sessions/partialnew' %>
<%= render 'layouts/menu' %>
<%= yield %>

</body>
</html>
