<!DOCTYPE html>
<html>
<head>
  <title>USA Compressor Parts</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body class="<%= controller.controller_name %>" id = "body">
<div id="contenido">
	<!--here goes logging and language info-->
		<div id="loginImg">
			<%= image_tag("logo/logo_2.jpg",class: 'logo')%>
		</div>

		<!--here goes all login partial template-->
		<div id="loginLogin">
			<p>
			<span style ="padding-left:15px;">
			<% if user_signed_in? %>
			  <%= t('.text1') %> <strong> <%= current_user.username %> </strong>|
			  <%= link_to t('.linkLoggin'), destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
		&nbsp&nbsp&nbsp <i class="fa fa-user" style="font-size:1.25em;"></i> 
		<%= link_to t('.edit'), edit_user_registration_path, :class => 'navbar-link'  %>
		&nbsp&nbsp&nbsp <i class="fa fa-cubes" style="font-size:1.25em;"></i>
		<%= link_to t('.Orders'), store_orderstatus_path, :class => 'navbar-link'  %>
			<% else %>
			<%= link_to t('.linkCreate'), new_user_registration_path, :class => 'navbar-link'  %>
			<% end %>
			<span style ="float:right;padding-right:70px;">
			<i class="fa fa-globe" style="font-size:1.7em;"></i>	&nbsp
			<%= link_to_unless I18n.locale == :en, "EN", locale: :en %>&nbsp
			<%= link_to_unless I18n.locale == :es, "ES", locale: :es %>
			</span>
			</p>
			<%= render 'devise/sessions/partialnew' %>
		</div>
	<!--here sup menu to add deployed menu-->
	<div id="navegacion">
		<%= render 'layouts/menu' %>
	</div>
	<!-- heres goes all main body of the web page -->
	<div id="side_l" style="color:white">
		xleft
	</div>
	<!--Aquí la parte cuerpo de la pag-->
	<div id="main">	
		<!-- 		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p> -->
		<%= yield %>
	</div>
	<div id="side_r">
		<div id="cart">
			<%= render @cart %>
		</div>
		<%= image_tag("compressors/Bitzer2.jpg",class: 'comp1')%>
		<%= image_tag("compressors/Carrier.jpg",class: 'comp1')%> <br>
		<%= image_tag("compressors/Copeland.jpg",class: 'comp1')%>
		<%= image_tag("compressors/Bitzer2.jpg",class: 'comp1')%>
	</div>
</div>
</body>
</html>
